# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/Day1/input.txt
/Day2/input.txt
/Day3/input.txt
/Day4/input.txt
/Day5/input.txt
